.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #292828 50%, #000000 90%) no-repeat;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  z-index: 2;
}

.userName {
  font-size: larger;
  margin-right: auto;
}

.img {
  background-color: #ffffff;
  color: #ffffff;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.navbar .btn-primary,
.navbar .btn-secondary {
  margin-right: 8px;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

.mat-sidenav-container {
  height: calc(100vh - 65px);
  margin: 0%;
}

.avatar {
  margin-top: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}
.page-container {
  position: relative;
  z-index: 1;
}
