<form [formGroup]="variantItemForm" class="form-container">
  <div class="form-group">
    <label for="optionName">Option Name</label>
<div class="row">
  <div class="col col-1 drag-icon"  draggable="true">
    <i
      class="bi bi-grid-3x3-gap-fill"
    ></i>
  </div>
  <div class="col col-9">

    <input
      type="text"
      class="form-control"
      id="optionName"
      autocomplete="off"
      formControlName="optionName"
      placeholder="Enter option name"
      list="suggestedOptions"
      (input)="onOptionNameInput($event)"
      #optionNameInput
    >
  </div>
  <div class="col col-1">
    <button type="button" class="remOption" (click)="removeItem()">
      <i class="bi bi-trash"></i>
    </button>
  </div>
  </div>
    <datalist id="suggestedOptions">
      <option *ngFor="let suggestion of datalistOptions" [value]="suggestion"></option>
    </datalist>
  </div>
  <label class="option-values" for="optionValues">Option Values</label>

  <div class="form-group" formArrayName="optionValues">
    <div *ngFor="let option of getOptionValuesControls(); let i = index" [formGroupName]="i" class="option-value-row"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, i)"
    >

      <div class="row">
        <div class="col col-1 drag-icon" *ngIf="newInput.value.trim() !== ''">
          <!-- Make the icon draggable -->
          <i *ngIf="newInput.value.trim() !== ''"
            class="bi bi-grid-3x3-gap-fill"
            draggable="true"
            (dragstart)="onDragStart($event, i)"
            (dragend)="onDragEnd($event)"
          ></i>

        </div>
        <div class="col col-1 drag-icon" *ngIf="newInput.value.trim() === ''">
          <i *ngIf="newInput.value.trim() === ''"
            class="bi bi-grid-3x3-gap-fill"
          ></i>
        </div>
        <div class="col col-9">
          <input
            type="text"
            class="form-control"
            formControlName="value"
            #newInput
            placeholder="Enter option value"
            (input)="onOptionValueInput()"
          >
        </div>
        <div class="col col-1">
          <button *ngIf="newInput.value.trim() !== ''" type="button" class="remove-button" (click)="removeOptionValue(i)" tabindex="-1">
            <i class="bi bi-trash"></i>
          </button>
                </div>
      </div>
    </div>
    <button class="btn btn-success">Done</button>
  </div>
</form>
