<form [formGroup]="imageForm" class="mt-4">
  <div class="mb-3">
    <label for="imageFile" class="form-label">Select an image:</label>
    <input type="file" (change)="onFileChange($event)" formControlName="imageFile" class="form-control">
  </div>
</form>

<div *ngIf="imageUrl" class="mt-4">
  <h4>Image</h4>
  <div class="image-frame" [ngStyle]="{'width.px': imageUrl ? 'auto' : 300}">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image Preview" class="img-fluid">
    <button *ngIf="imageUrl" type="button" class="btn btn-danger remove-button" (click)="removeImage()">
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
</div>