<main class="row-md-12 ms-sm-auto col-lg-10 px-md-12">
  <div class="header">
    <a class="back-button" (click)="goToList()">
      <i class="bi bi bi-arrow-left-circle"></i>
    </a>
    <span class="header-text">Create collection</span>
  </div>
  <div class="row lg-12 md-12 background-color:red;">
    <div class="col-8">
      <div class="rows">
        <app-title-description [parentForm]="collectionForm"></app-title-description>
      </div>
      <div class="rows">
        <app-collection-type [parentForm]="collectionForm"></app-collection-type>
      </div>
      <div class="rows">
        <app-search-engine [parentForm]="collectionForm"></app-search-engine>
      </div>
    </div>
    <div class="col-4">
      <div class="rows">
        <h6>Publishing</h6>
        <p>Will be included in 3 sales channels</p>
        <br>
        <button class="btn btn-primary" (click)="selectAllChange()">{{selectAll}}</button>
        <hr>
        <div [formGroup]="collectionForm">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked="true" id="onlineStore"
              formControlName="onlineStore" (ngModelChange)="onValueChange()">
            <label class="form-check-label" for="onlineStore">
              Online Store
            </label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked="true" id="clickAndDrop"
              formControlName="clickAndDrop" (ngModelChange)="onValueChange()">
            <label class="form-check-label" for="clickAndDrop">
              Click &amp; Drop
            </label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked="true" id="inbox" formControlName="inbox"
              (ngModelChange)="onValueChange()">
            <label class="form-check-label" for="inbox">
              Inbox
            </label>
          </div>
          <div class="rows">
            <app-image [showImageEdge]="true"></app-image>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</main>