<form [formGroup]="variantForm">
  <div class="row">
    <div class="col col-4">
      <!-- Your other form controls here -->
    </div>
  </div>
  <div formArrayName="variantItems" class="form-group">
    <div *ngFor="let item of variantItems.controls; let i = index" class="variant-item-container"
      (dragstart)="onDragStartVariant($event, i)"
      (dragend)="onDragEndVariant($event)"
      (dragover)="onDragOverVariant($event)"
      (drop)="onDropVariant($event, i)"
      draggable="true"
    >
      <app-variantItem [parentForm]="getItemFormGroup(i)" (remove)="removeItem(i)"></app-variantItem>
    </div>
    <hr>
    <button class="add-btn" *ngIf="variantItems.length > 0" (click)="addVariantItem()">+ Add another option</button>
    <button class="add-btn" *ngIf="variantItems.length == 0" (click)="addVariantItem()">+ Add options like size or color</button>
  </div>
</form>
