<div class="row md-12;">
  <div class="col-md-3 combo">
    <ngx-dropdown-list class="col-md-3" formControlName="productTag1" [items]="productTags" [multiSelection]="false"
      [placeHolder]="'Product tag'" [suffixText]="' suffix text'" [filterBox]="false" [formatNumber]="true"
      [disabled]="false"> list
    </ngx-dropdown-list>
  </div>
  <div class="col-md-3 combo">
    <ngx-dropdown-list class="col-md-" formControlName="productTag2" [items]="productTags" [multiSelection]="false"
      [placeHolder]="'Is equal to '" [suffixText]="' suffix text'" [filterBox]="false" [formatNumber]="true"
      [disabled]="false"> list
    </ngx-dropdown-list>
  </div>
  <div class="col-md-3 combo">
    <ngx-dropdown-list class="col-md-3" formControlName="productTag3" [items]="productTags" [multiSelection]="false"
      [placeHolder]="'Result'" [suffixText]="' suffix text'" [filterBox]="false" [formatNumber]="true"
      [disabled]="false"> list
    </ngx-dropdown-list>
  </div>
  <button class="col-md-1 btn bi bi-trash" (click)="onRemoveCondition()"></button>
</div>