<form [formGroup]="conditionForm">
  <div class="row md-12;">
    <div class="col-md-3">
      <p-dropdown [style]="{ width: '100%' }" [options]="conditionTypes" formControlName="conditionType"
        (onChange)="onConditionTypeSelectionChange($event)" class="custom-dropdown">
      </p-dropdown>
    </div>
    <div class="col-md-3 combo">
      <p-dropdown [style]="{ width: '100%' }" [options]="equals" formControlName="equal"
        (onChange)="onEqualTypeSelectionChange($event)" class="custom-dropdown"></p-dropdown>
    </div>
    <div class="col-md-3 combo">
      <div class="form-group">
        <label for="inputField" class="sr-only">£</label>
        <!-- <div class="input-group"> -->
        <input type="text" class="form-control" id="inputField" formControlName="result">
        <!-- <div class="input-group-prepend">
            <div class="input-group-text"></div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
    <button class="col-md-1 btn  bi bi-trash-fill  remove-button" (click)="onRemoveCondition()"></button>
  </div>
</form>