<main class="row-md-12 ms-sm-auto col-lg-10 px-md-12 ImageLibraryComponent">
  <h2>Image Gallery</h2>

  <input #imageInput class="form-control" type="file" multiple (change)="onSelect($event)" />
  <!-- <button class="btn btn-success" (click)="onUpload()"
    [disabled]="selectedFiles.length === 0 || uploadingImages">Upload</button> -->
  <hr />
  <div class="d-flex justify-content-between align-items-center">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="sortCriteria" (change)="applySort()">
        <option value="name">Sort by name</option>
        <option value="date">Sort by date</option>

      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText" (keyup)="applyFilter()" />
    </div>
  </div>
  <hr>
  <button class="btn btn-danger" *ngIf="selectedImages.length>0" (click)="removeImages()">Remove images</button>
  <div class="image-grid" *ngIf="images.length > 0">
    <div class="col col-md-2"
      *ngFor="let image of images | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <div class="image-card" (mouseenter)="onMouseEnter(image)" (mouseleave)="onMouseLeave()">


        <label class="checkbox-container">
          <input type="checkbox" [checked]="image.isSelected" (click)="onImageSelect($event, image)"
            class="custom-checkbox" />
          <span class="custom-checkbox"></span>
        </label>
        <img [src]="image.url" [tooltip]="image.name" containerClass="customClass" alt="Image.alt"
          (click)="onMouseClick(image)" />

      </div>
    </div>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="currentPage =$event"></pagination-controls>
  </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</main>